.card {
  --space: 1rem;

  z-index: 2;
  width: 100%;
  padding: var(--space);
  background-color: #fff;
  font-size: var(--font-size-m);
  box-sizing: border-box;
}

.card > *:not(:last-child) {
  margin-bottom: var(--space);
}

.card > a {
  display: block;
}

.card__title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.card picture {
  width: 100%;
  height: min(20vw, 20rem);
}

.card img {
  width: 100%;
}
