#edit-button-wrapper {
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  text-align: center;
  height: 2rem;
  z-index: 999;
  pointer-events: none;
}

#edit-button {
  font-family: "Neue Machina Inktrap", sans-serif;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 0.7rem;
  pointer-events: all;
}

#edit-button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
