/* Footer */
/* —————— */
#main-footer--mobile {
  display: none;
}
#main-footer {
  position: relative;
  z-index: 3;
  margin-top: 8rem;
  background-color: #000;
  display: flex;
  column-gap: calc(2 * var(--padding-main));
  padding: var(--padding-main);
}
#main-footer * {
  font-size: var(--font-size-s);
}
[data-template="issues"] #main-footer {
  margin-top: 0;
}

.main-footer__column {
  width: 17.5%;
  height: 100%;
}
.main-footer__column#main-footer__logo {
  width: 30vw !important;
}
.main-footer__column#main-footer__newsletter {
  width: 20vw !important;
}

.main-footer__column > *:not(:last-child),
.main-footer__column > form > *:not(:last-child),
.main-footer__column li:not(:last-child) {
  margin-bottom: 1rem;
}

#main-footer input,
#main-footer button {
  width: 100%;
  box-sizing: border-box;
}

.social-icon {
  display: inline-block;
  background-color: #fff;
  color: #000;
  width: 1rem;
  height: 1rem;
  padding: 0.25rem;
  border-radius: 100%;
  border: 1px solid #000;

  transition: all 0.2s ease-in-out;
}

.social-icon:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

#monogram {
  display: block;
  position: fixed;
  z-index: 2;
  width: 4rem;
  height: 4rem;
  right: calc(var(--padding-main) - 8px);
  bottom: 1rem;
  opacity: 0;
  transition: opacity 0.3s var(--curve-quick-slow) !important;
  cursor: pointer;
}
#monogram.show {
  opacity: 1;
}

#monogram:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  #main-footer {
    display: none;
  }

  #main-footer--mobile {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    background-color: #000;
    padding: var(--padding-main);
    margin-top: 8rem;
    height: 103vh;
  }

  #main-footer--mobile__logo img,
  #main-footer--mobile__pages li:not(:last-child),
  #main-footer--mobile__newsletter > *:not(:last-child),
  #main-footer--mobile__newsletter > form > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  #main-footer--mobile__mail-socials a {
    display: block;
    margin-bottom: 0.5rem;
  }

  #main-footer--mobile__newsletter input {
    box-sizing: border-box;
    width: 100%;
  }

  #monogram:hover {
    opacity: 1;
  }
}
