/* Generic styles apply to element that may belong to different components */
img:not(#main-footer--mobile__logo img, article img) {
  object-fit: cover !important;
}

picture {
  background-color: #ddd;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

picture img {
  z-index: 1;
}

picture svg {
  position: absolute;
  opacity: 1;
  transition: var(--transition-image-opacity);
  z-index: 0;
}

img,
picture svg.hide {
  opacity: 0;
}

picture.hide {
  background-color: transparent;
}

img {
  transition: var(--transition-image-opacity);
}

img.show {
  opacity: 1;
}

a:not(#main-logo),
button,
.button,
.thematic {
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

button,
.button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.7rem;

  background-color: #000;
  color: #fff !important;

  font-size: var(--font-size-m);
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #000;
  cursor: pointer;
}

button[type="submit"].success {
  background-color: var(--color-accent-bg) !important;
  color: #fff !important;
  border: none;
}
button[type="submit"].error {
  background-color: #ff5e65 !important;
  color: #fff !important;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.regular {
  font-weight: normal;
}

button:not(:last-child),
.button:not(:last-child) {
  margin-bottom: 1rem;
}

button:hover,
.button:hover,
button.invert,
.button.invert {
  background-color: #fff;
  color: #000 !important;
}
button.invert:hover,
.button.invert:hover {
  border: 2px solid #fff;
  background-color: #000;
  color: #fff !important;
}
button:hover,
.button:hover {
  border: 2px solid #000;
}

.unvisible {
  opacity: 0 !important;
  height: 0 !important;
}

.read-more {
  text-transform: uppercase;
  font-size: var(--font-size-s);
  font-weight: bold;
}
.read-more::before {
  display: inline-block;
  content: "→";
  margin-right: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.thematic {
  display: inline-block;
  width: max-content;
  border: 2px solid #000;
  margin-right: 0.3rem;
}
.thematic > * {
  display: block;
  padding: 0.2rem 0.5rem;
}
.thematic {
  margin-bottom: 0.3rem;
}
.thematic:hover,
.thematic.active {
  background-color: #000;
  color: #fff !important;
}

.thematic > button {
  background-color: transparent;
  color: inherit !important;
  border: none;
  font-size: var(--font-size-s) !important;
}

#featured-article__thematics {
  margin-top: 1rem;
}

.section-title--center {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

input[type="email"] {
  border: 2px solid #000;
  padding: 0.5rem;
  background-color: transparent;
}
input[type="email"]:focus-visible,
input[type="email"]:focus {
  outline: none;
}

input[type="email"].invert {
  border: 2px solid #fff;
}

a.no-line {
  text-decoration: none !important;
}
a.no-line:hover {
  text-decoration: underline !important;
}

.representative .period--small {
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 800px) {
  .grid {
    display: block !important;
  }
  .grid > *:not(:last-child) {
    margin-bottom: 3rem;
  }

  .card:not(#hero .card) {
    width: 100% !important;
  }
  .card picture {
    height: 78vw !important;
  }

  button,
  .button {
    font-size: 20px;
  }
}
