#main-info {
  width: 100%;
  text-align: center;
  background-color: var(--color-accent-bg);
  color: var(--color-accent-text);
  padding: 0.5rem var(--padding-main);
  box-sizing: border-box;
}

#main-header {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  padding: 1rem var(--padding-main);
  padding-bottom: 0;

  background-color: #fff;
  z-index: 3;
  transition: margin 0.3s ease-in-out;
}

#main-nav-monogram {
  display: none;
}

#main-logo {
  display: flex;
  margin-bottom: 0.25rem;
}

#main-logo,
#logo-caption > * {
  width: 25vw;
  max-width: 25rem !important;
}
#logo-caption {
  width: 100%;
  padding-left: var(--padding-main);
  padding-bottom: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}
#logo-caption > * {
  display: flex;
  justify-content: space-between;
  text-align: end;
}

#logo-caption > * span:not(:nth-child(1)):not(:nth-child(4)) {
  justify-self: flex-end;
}

#main-nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(min(1.3rem, 1.3vw));
  transition: transform 0.2s ease-in-out;
}

#main-header.expanded #main-nav {
  transform: translateY(0);
}

#main-nav a {
  text-underline-offset: 3px;
}

#main-nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

#mobile-nav-btn,
#main-nav--mobile {
  display: none;
}

#main-header.expanded {
  padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  #main-logo,
  #logo-caption > * {
    width: 15rem;
  }

  #main-nav {
    display: none;
  }

  #main-nav a:hover {
    text-decoration: none;
  }

  #mobile-nav-btn {
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 100%;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  #mobile-nav-btn:hover {
    background-color: #000;
  }
  #mobile-nav-btn__line {
    background-color: #fff;
  }

  #mobile-nav-btn.open {
    background-color: #fff;
  }
  #mobile-nav-btn.open .mobile-nav-btn__line {
    background-color: #000;
  }

  .mobile-nav-btn__line {
    width: 50%;
    height: 3px;
    background-color: #fff;

    transition: all 0.2s ease-in-out;
  }

  .mobile-nav-btn__line--top,
  .mobile-nav-btn__line--bottom {
    position: absolute;
  }

  .mobile-nav-btn__line--top {
    transform: translateY(-8px);
  }
  .mobile-nav-btn__line--bottom {
    transform: translateY(8px);
  }

  #mobile-nav-btn.open .mobile-nav-btn__line--middle {
    width: 0%;
  }

  #mobile-nav-btn.open .mobile-nav-btn__line--top {
    transform: rotate(45deg);
  }

  #mobile-nav-btn.open .mobile-nav-btn__line--bottom {
    transform: rotate(-45deg);
  }

  #main-nav--mobile {
    display: block;
    position: fixed;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
  }

  #main-nav-monogram {
    display: block;
    filter: invert(1);
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transform: scale(1.2);
    transition: opacity 0.2s ease-in-out;
  }

  #main-header.open {
    z-index: 4;
  }
  #main-header.open #main-nav-monogram {
    opacity: 1;
  }

  #main-nav--mobile.open {
    height: 100%;
  }

  #main-nav--mobile nav {
    padding: 10rem var(--padding-main);
    height: 100vh;
    box-sizing: border-box;
  }

  #main-nav--mobile nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
