/* Hero desktop */
/* ———————————— */
#hero {
  height: 70vh;
  display: flex;
  align-items: center;
}
#hero > picture,
#hero > a > picture,
#hero > a {
  width: 100%;
  height: 100%;
}

#hero > picture img,
#hero > a > picture img {
  height: 100%;
}

#hero .card {
  position: absolute;
  width: 20rem;
  right: var(--padding-main);
}

#hero .card picture {
  height: 20rem;
}
section:not(.full) {
  padding: 0 var(--padding-main);
  margin: auto;
  max-width: 109.375rem;
}
main section:not(:last-child) {
  margin-bottom: var(--space-vertical-l);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2vw;
}

.grid > * {
  grid-column: span var(--span);
}

section > a {
  display: block;
  width: fit-content;
}

section h3 {
  margin-bottom: 1rem;
}

section p:not(:last-child) {
  margin-bottom: 1rem;
}

[style="--span:9"] picture {
  height: 60vh;
  margin-bottom: 2rem;
}

.featured-article__chapo {
  margin: 1rem 0;
}
.featured-article__title {
  margin-bottom: 0.5rem;
}

#articles__list--mobile {
  display: none;
}

.grid + .grid {
  margin-top: var(--space-vertical-l);
  margin-bottom: var(--space-vertical-l);
}

.grid + .section-title--left {
  margin-top: 2rem;
}

.representative picture,
#products picture {
  height: min(15vw, 15rem);
  margin-bottom: 0.5rem;
}
.representative img,
#products img {
  width: 100%;
}
.representative--issue picture {
  height: min(30vw, 25rem);
}

.representative--issue {
  position: relative;
}

.representative--issue picture:nth-child(2) {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}

.representative--issue picture:nth-child(2):hover {
  opacity: 1;
}

.representative--article__title {
  margin: 0.5rem 0;
}

#shop {
  background-color: #fff;
  padding-bottom: var(--space-vertical-l);
}
[data-template="issues"] #shop {
  margin-bottom: var(--space-vertical-l);
}

#shop h3,
#preview h3 {
  margin-bottom: 0;
}

#products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2vw;
}
.product__description {
  margin: 1rem 0;
}

/* Images */
/* —————— */

main header picture {
  height: 50vh;
}
picture {
  overflow: hidden;
}

a > picture > img {
  transition: var(--curve-quick-slow), transform 1s var(--curve-quick-slow);
}
a > picture:not(.representative--issue picture):hover img {
  transform: scale(1.05);
}

/* Swiper */
/* —————— */

.swiper {
  width: 100%;
}

.swiper picture {
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.swiper-pagination {
  display: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  width: 3rem !important;
  height: 4rem !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next {
  background-image: url("/assets/images/icons/arrow-next.svg");
}
.swiper-button-prev {
  background-image: url("/assets/images/icons/arrow-next.svg");
  transform: rotate(180deg);
}

#swiper--preview {
  height: min(25rem, 20vw);
}
#swiper--issue {
  height: 65vh;
  position: sticky;
  top: 6rem;
}

#lightbox {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 3rem 9vw;
  box-sizing: border-box;
  background-color: #fff;
}

#lightbox__close-btn {
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  color: #676767 !important;
  border: none;
}

#lightbox__close-btn svg {
  width: 100% !important;
  height: 100% !important;
}

#lightbox .swiper {
  height: 100%;
}

/* Issue */
/* ————— */
#issue {
  margin-top: var(--space-vertical-l);
}

#issue__period {
  margin: 0.5rem 0;
}

#issue__price {
  margin: 2rem 0;
}

/* Article */
/* ————— */
[data-template="article"] main > picture {
  height: 54vh;
}
article h1 {
  margin-top: 1rem;
}
article header .thematics {
  margin-top: 2.5rem;
}

#article__infos {
  text-align: center;
}

article #chapo {
  margin: 2rem min(13rem, calc(var(--padding-article) / 2))
    var(--space-vertical-l) min(13rem, calc(var(--padding-article) / 2));
}
article {
  margin: auto;
  margin-bottom: 8rem;
  max-width: 100rem;
}
.callout {
  margin: var(--space-vertical-l) min(13rem, calc(var(--padding-article) / 2)) !important;
}

article p:not(.period, #article__infos p, .note p, #chapo p),
article #signature,
article h2,
article figure {
  margin: 3rem min(20rem, var(--padding-article));
  max-width: 80rem;
}

article figure {
  display: flex;
  justify-content: center;
}
article picture {
  width: fit-content;
}

article figure img {
  max-height: 80vh;
  object-fit: contain;
}

article #signature {
  margin-top: var(--space-vertical-l);
}

/* Featured issue */
/* —————————————— */
.featured-issue > header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.featured-isssue__left-columns .thematics {
  display: none;
}

.featured-issue__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.featured-issue h3 {
  margin-bottom: 0;
}

.featured-issue__presentation {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

.featured-issue__buttons {
  margin-top: 1rem;
}

/* Issues */
/* —————— */
.repository-presentation {
  margin-top: 2rem;
}

/* Newsletters */
/* ——————————— */
[data-template="newsletters"] .repository-presentation form {
  margin-top: 2rem;
}
[data-template="newsletters"] .repository-presentation input {
  width: 100%;
  margin-bottom: 1rem;
  font-size: var(--font-size-ml);
  padding-left: 1rem;
  box-sizing: border-box;
}
[data-template="newsletters"] .repository-presentation button {
  width: 30%;
}

/* Thematics */
/* ————————— */

.results__category:not(:last-child) {
  margin-bottom: var(--space-vertical-l);
}

.results__banner {
  width: 100%;
  box-sizing: border-box;
  border-top: 4px solid #000;
}

.results__list {
  margin-top: 2rem;
}

/* Contributors */
/* ———————————— */
#anchors {
  display: flex;
}

#anchors > * {
  text-align: center;
  width: 100%;
}

#anchors > .disabled {
  opacity: 0.3;
}

.letter {
  scroll-margin-top: 7rem;
}

.contributors-group {
  margin-top: 2rem;
}

.contributor__name {
  margin-bottom: 0;
}

.contributor__presentation {
  margin-bottom: 1rem;
}

.contributor__issue {
  margin-top: 1rem;
}

/* About */
/* ————— */
[data-template="about"] h1 {
  margin: 2rem var(--padding-main);
}

[data-template="about"] h1 + picture {
  height: 50vh;
}

[data-template="about"] article header {
  margin-bottom: 2rem;
}

article > h2,
article > p,
article > figure {
  margin-bottom: 1rem !important;
}
article > h2 {
  margin-top: var(--space-vertical-l);
}

/* Newsletter */
/* —————————— */
[data-template="newsletter"] main > picture {
  height: 58vh;
}

#other-newsletters {
  margin-top: 8rem;
}

/* Notes */
/* ————— */
article .note {
  padding: 0 0.2rem;
  cursor: pointer;
  text-transform: none;
  background-color: transparent;
  color: #000 !important;
  border: none;
}

/* Find us */
/* ——————— */
#map {
  display: block;
  height: 100%;
}
#map picture {
  height: 100%;
}
#map img {
}

#issues-list h2 {
  margin-bottom: 1rem;
}

#issues-list p {
  margin-bottom: 2rem;
}

/* ————————————————— MOBILE —————————————————— */
/* ——————————————————————————————————————————— */
@media screen and (max-width: 800px) {
  #hero {
    --card-width: clamp(16rem, 50vw, 20rem);
    height: 75vh;
  }
  #hero .card {
    width: var(--card-width);
  }
  #hero .card {
    right: calc((100% - var(--card-width)) / 2);
  }

  #hero .card picture {
    height: 30vh !important;
  }

  [style="--span:9"] picture {
    height: 55vw;
    margin-bottom: 0.7rem;
  }

  .featured-issue__details {
    display: block;
  }

  .featured-isssue__left-columns .thematics {
    display: block;
    margin-bottom: 0.3rem;
  }
  .featured-isssue__right-columns .thematics {
    display: none;
  }

  /* Articles section */
  /* ———————————————— */
  #articles__list,
  #other-articles-title {
    display: none !important;
  }
  #articles__list--mobile {
    display: block;
  }

  .representative--article {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.7rem;
  }

  .representative--article .period:not(.mobile) {
    display: none;
  }

  .representative--article .period.mobile {
    margin: 0 !important;
  }

  .representative picture {
    height: 22vw;
  }

  .representative--article__title {
    margin: 0.3rem 0;
  }

  /* Shop section */
  /* ———————————— */
  #products {
    --gap: 1rem;
    grid-template-columns: repeat(2, calc(50% - var(--gap) / 2));
    column-gap: var(--gap);
    row-gap: calc(var(--gap) * 2);
  }

  #products picture {
    height: 50vw;
  }

  #products * {
    font-size: var(--font-size-s);
  }

  #products button,
  #products .button {
    padding: 0.4rem;
  }

  .product__description {
    line-height: 1.25;
  }

  #swiper--preview {
    height: 63vw;
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0 !important;
  }

  /* Issues */
  /* —————— */
  .representative--issue picture {
    height: 60vh;
  }

  /* Issue */
  /* ————— */
  #issue {
    margin-top: var(--padding-main);
  }

  #swiper--issue {
    position: relative;
    top: 0;
    margin-bottom: var(--padding-main);
    height: 60vw;
  }

  .swiper-pagination {
    display: block;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff !important;
  }

  [data-template="issue"] .swiper-button-prev,
  [data-template="issue"] .swiper-button-next {
    opacity: 1 !important;
    filter: invert(1);
    background-size: 70% !important;
    background-position: right !important;
  }

  [data-template="issue"] .swiper-button-prev {
    left: 0;
  }
  [data-template="issue"] .swiper-button-next {
    right: 0;
  }

  /* Newsletter */
  /* —————————— */
  [data-template="newsletters"] .repository-presentation button {
    width: 100%;
  }

  .representative--article__title {
    margin-top: 0;
  }

  #other-newsletters {
    margin-top: 6rem;
    padding: 0;
  }

  /* Contributors */
  /* ———————————— */
  #anchors {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    font-size: var(--font-size-xl);
  }
  #anchors p {
    margin-bottom: 0;
  }

  /* Find us */
  /* ——————— */
  #map picture {
    height: 54vw;
  }

  /* Article page */
  /* ———————————— */
  article {
    margin: 0 var(--padding-main);
    margin-bottom: 6rem;
  }

  article p {
    margin: 1.5rem 0 !important;
  }

  article h2 + p {
    margin-top: 0 !important;
  }

  article h2 {
    margin-top: 1rem;
  }

  article h2,
  article p,
  article figure,
  article .callout {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #article__infos h1 {
    margin-bottom: 0.5rem;
  }

  #article__infos p {
    margin: 0 !important;
  }
  article .thematics {
    margin-top: 0.5rem !important;
  }
}
