.pop-up-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  display: grid;
  place-items: center;
  pointer-events: none;
}
.pop-up-overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  z-index: 5;
}

.pop-up {
  pointer-events: all;
  position: relative;
  box-sizing: border-box;
  width: min(85vw, 90rem);
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
  padding: 4rem;
  background-color: #fff;
}

.pop-up .left-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-up h3 {
  font-size: 3rem;
}

.pop-up input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #000 !important;
  padding-left: 1rem;
  margin-bottom: 1.5rem;

  font-size: 1.6rem;
  font-family: var(--font-family-sans);
  text-transform: uppercase;
  font-weight: bold;
}
.pop-up input::placeholder {
  color: #000;
}

.close-pop-up {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}
.close-pop-up:hover {
  border: none;
  width: 3rem;
  background-color: #000;
}
.close-pop-up:hover svg {
  fill: #fff;
}

.close-pop-up svg {
  fill: #000;
}

@media screen and (max-width: 800px) {
  .pop-up {
    display: block;
    padding: 1rem;
    padding-top: 1.3rem;
  }

  .close-pop-up {
    top: -0.3rem;
    right: -0.3rem;
    width: 2.7rem;
    height: 2.7rem;
  }

  .pop-up h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .pop-up picture {
    margin-top: 1rem;
  }
}
