body,
html,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-body-bg);
}

body,
html {
  scroll-behavior: smooth;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}
picture {
  width: 100%;
}

picture {
  display: block;
}
