body {
  font-family: var(--font-family-serif);
  line-height: 1.4;
}

/* Items using Neue Machina */
/* ———————————————————————— */

#main-info,
#main-header,
#logo-caption,
button,
.button,
input,
.article__infos,
.thematic,
.read-more,
.representative--article__writer,
.product__description,
.repository-presentation p,
.callout,
#main-footer,
#main-footer--mobile,
#issue__period,
#issue__price,
#article__infos,
.period,
#anchors,
#signature,
.contributor__presentation,
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-sans);
}

#main-nav {
  font-size: clamp(var(--font-size-m), 1.3vw, 2.5rem);
}

h1,
.h1,
h3,
.h3,
.thematic,
.period,
.results__banner h2,
#anchors {
  text-transform: uppercase;
}

.period--small {
  font-size: var(--font-size-s);
}

h2:not(.h1),
.h2 {
  font-size: var(--font-size-xxl);
  font-weight: normal;
}

h1,
h3,
.h3 {
  font-size: var(--font-size-l);
}

p {
  font-size: var(--font-size-ml);
}

.bold,
nav a,
.thematics,
.product__description,
.results__banner h2,
#anchors {
  font-weight: bold;
}

a:not(nav a, .thematic a, .button, h4 a) {
  text-decoration: underline;
  text-underline-offset: 2px;
}
a:not(nav a, .thematic a, .button, h4 a):hover {
  text-decoration: none;
}

#home-banner {
  font-size: var(--font-size-s);
  font-weight: bold;
}

#logo-caption > * {
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  font-weight: bold;
  line-height: 1.2;
  text-transform: none;
}

#main-info {
  font-size: 0.9375rem;
}

#about {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.thematic {
  font-size: var(--font-size-xs);
}

.featured-article__chapo,
.product__description,
h4 {
  font-size: var(--font-size-ml);
}
.featured-article__chapo {
  line-height: var(--line-height-l);
}

#featured-article__title a {
  text-decoration-thickness: 2px !important;
  text-underline-offset: 0.15ch;
}

.product__description {
  line-height: var(--line-height-m);
}

.representative--article__writer {
  font-size: var(--font-size-s);
}

.representative--issue h4 {
  text-transform: uppercase;
}

.repository-presentation h1,
.h1,
.section-title--center,
.section-title--center > *,
.results__banner h2,
#anchors {
  font-size: var(--font-size-xml);
}

.section-title--center {
  display: flex;
  justify-content: center;
  cursor: auto;
  text-decoration: none !important;
}
.section-title--center:hover,
.section-title--center h3:hover {
  text-decoration: none !important;
}

.section-title--center h3 {
  width: fit-content;
  cursor: pointer;
}

input {
  color: inherit;
}

/* Footer */
/* —————— */

#main-footer,
#main-footer--mobile {
  color: #fff;
}

#main-footer a,
#main-footer--mobile a {
  color: inherit;
  text-decoration: none;
}

#main-footer a:hover,
#main-footer--mobile a:hover {
  text-decoration: underline;
}

#main-footer__mail a,
#main-footer--mobile__mail a {
  font-weight: bold;
}

/* Article */
/* ——————— */
article h1 {
  font-size: var(--font-size-xxxl);
  text-transform: none;
  font-weight: normal;
}
article h2 {
  font-size: var(--font-size-xlx) !important;
  font-weight: bold !important;
  line-height: 1.2;
}
article #chapo,
article #chapo > * {
  font-size: var(--font-size-l);
}

article header + * {
  font-size: var(--font-size-ml);
}

article p:not(.callout) {
  font-weight: 300;
  line-height: 1.7;
}

.callout {
  font-size: var(--font-size-xml);
  line-height: 1.4;
}

.featured-issue__presentation > p {
  font-size: var(--font-size-m);
}

#anchors > * {
  font-size: inherit;
}

.contributor__issue {
  font-family: "Neue Machina Plain";
  font-size: var(--font-size-m);
  text-transform: uppercase;
}
.contributor__article p,
.contributor__presentation p {
  font-size: var(--font-size-s);
}

/* About */
/* ————— */
[data-template="about"] h1 {
  font-size: var(--font-size-xml);
  text-transform: uppercase;
  font-weight: bold;
}
[data-template="about"] h2 {
  font-size: var(--font-size-xlx);
}

[data-template="find-us"] .repository-presentation p {
  font-family: var(--font-family-serif);
}

/* Note */
/* ———— */
article .note {
  font-family: var(--font-family-sans);
  font-weight: bold;
}

/* Find us */
/* ——————— */
#issues-list strong {
  font-family: var(--font-family-sans);
  font-weight: lighter;
  text-transform: uppercase;
  font-size: var(--font-size-ml);
}
#issues-list p:not(strong) {
  font-size: var(--font-size-l);
}

/* ———————————— MOBILE ————————————— */
/* ————————————————————————————————— */
@media screen and (max-width: 800px) {
  h3,
  .h3 {
    font-size: var(--font-size-xl);
  }

  h2:not(.h1) {
    font-size: var(--font-size-xl);
    font-weight: bold;
  }

  .featured-article__chapo,
  .product__description,
  h4:not(.card h4) {
    font-size: var(--font-size-s);
    line-height: 1;
  }

  p {
    font-size: var(--font-size-s);
  }

  #logo-caption > * {
    font-size: 0.8rem;
  }

  #main-nav--mobile nav a {
    font-size: var(--font-size-xxxl);
  }

  .repository-presentation h1,
  .h1,
  article h1,
  article .callout,
  .section-title--center,
  .section-title--center > *,
  .results__banner h2,
  #anchors {
    font-size: 1.875rem;
  }

  article h2 {
    font-size: 1.5rem !important;
  }

  /* Issues */
  /* —————— */
  .representative--issue h4 {
    font-size: var(--font-size-xl);
  }

  /* Footer mobile */
  /* ————————————— */
  #main-footer--mobile * {
    font-size: var(--font-size-s) !important;
    font-weight: lighter;
  }

  #main-footer--mobile__newsletter button {
    font-size: var(--font-size-xl) !important;
    font-weight: bold;
  }

  .card h4 {
    font-size: var(--font-size-xl);
  }
}
