:root {
  --font-family-serif: "Ogg Text", serif;
  --font-family-sans: "Neue Machina Inktrap", sans-serif;

  --curve-quick-slow: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transition-image-opacity: opacity 0.5s var(--curve-quick-slow);

  --color-body-bg: #ededed;
  --color-accent-text: #fff;

  --padding-main: 2vw;
  --padding-article: 16vw;
  --space-vertical-l: 4rem;

  --font-size-xs: 0.7rem; /* thematics */
  --font-size-s: 0.9375rem; /* read-more, representative--article__writer, period, contributor__article */
  --font-size-sm: 1.125rem; /* featured-issue__presentation */
  --font-size-m: 1.1719rem; /* nav, cards, contributor__issue, button, .button */
  --font-size-ml: 1.4063rem; /* .featured-article__chapo, h4, p */
  --font-size-l: 1.875rem; /* issue__price, article #chapo */
  --font-size-xl: 2.3438rem; /* about section */
  --font-size-xlx: 3.0469rem; /* about h2 */
  --font-size-xml: 3.2813rem; /* section-title--center, repository-presentation h1, about h1 */
  --font-size-xmlx: 3.75rem; /* callout */
  --font-size-xxl: 4.2188rem; /* h2 */
  --font-size-xxxl: 4.2188rem; /* h2 */

  --line-height-m: 1.6563rem;
  --line-height-l: 1.875rem;
  --line-height-xl: 3.28125rem;
}

@media screen and (max-width: 800px) {
  :root {
    --font-size-xs: 0.625rem; /* thematics */
    --font-size-m: 0.9375rem; /* nav, cards, contributor__issue */
    --font-size-ml: 1.1rem; /* .featured-article__chapo, h4, p */
    --font-size-l: 1.2rem; /* issue__price, article #chapo */
    --font-size-xl: 1.25rem; /* about section */
    --font-size-xxxl: 2.8125rem; /* nav a */

    --padding-main: 5vw;
    --space-vertical-l: 3rem;
    --space-vertical-m: 2rem;

    --line-height-xl: 1.875rem;
  }
}
