#edit-button-wrapper {
    position: fixed;
    bottom: .5rem;
    left: 0;
    right: 0;
    text-align: center;
    height: 2rem;
    z-index: 999;
    pointer-events: none;
}

#edit-button {
    background-color: #000;
    color: #fff;
    padding: .5rem .7rem;
    border: 1px solid #fff;
    pointer-events: all;
}

#edit-button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}