:root {
  --menu-color-back: var(--color-accent-bg);
  --color-accent-bg: #000;
}

@font-face {
  font-family: "Neue Machina Inktrap";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-InktrapSemibold.woff2")
      format("woff2"),
    url("../fonts/PPNeueMachina/PPNeueMachina-InktrapSemibold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.k-panel-menu {
  font-family: "Neue Machina Inktrap", sans-serif;
  color: #fff;
}

.k-header-title-text {
  font-family: "Neue Machina Inktrap", sans-serif;
  text-transform: uppercase;
}

.k-panel-menu-button[aria-current] {
  color: #000;
}
