@import url("src/variables.css");
@import url("src/reset.css");
@import url("src/texts.css");
@import url("src/generic.css");
@import url("src/layout.css");
@import url("src/header.css");
@import url("src/footer.css");
@import url("src/edit-button.css");
@import url("src/card.css");
@import url("src/pop-up.css");

/* FONT FACES */

/* Ogg */
@font-face {
  font-family: "Ogg Text";
  src: url("../fonts/ogg/OggText-Book.woff2") format("woff2"),
    url("../fonts/ogg/OggText-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ogg Text";
  src: url("../fonts/ogg/OggText-BookItalic.woff2") format("woff2"),
    url("../fonts/ogg/OggText-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ogg Text";
  src: url("../fonts/ogg/OggText-LightItalic.woff2") format("woff2"),
    url("../fonts/ogg/OggText-LightItalic.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ogg Text";
  src: url("../fonts/ogg/OggText-Light.woff2") format("woff2"),
    url("../fonts/ogg/OggText-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

/* Neue Machina */
@font-face {
  font-family: "Neue Machina Inktrap";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-InktrapRegular.woff2")
      format("woff2"),
    url("../fonts/PPNeueMachina/PPNeueMachina-InktrapRegular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina Inktrap";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-InktrapSemibold.woff2")
      format("woff2"),
    url("../fonts/PPNeueMachina/PPNeueMachina-InktrapSemibold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina Plain";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-PlainRegular.woff2")
      format("woff2"),
    url("../fonts/PPNeueMachina/PPNeueMachina-PlainRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
